body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}
.contenedor-header {
    background-color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}
.logo_lupa,
.logo_menu {
    max-height: 30px; 
}
.logo_letras{
    max-height: 40px; 
}
h2{
    margin-left: 20px;
    font-size: 30px;
    color: #000000;
    margin-top: 10px;
}
#contenedor-microfono {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#icono-microfono {
    width: 170px; 
    height: 170px;
    align-self: center;
}


.contenedor-buscador {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

#input-buscador {
    border: none; 
    margin-left: 4px;
    outline: none; 
}

.contenedor-buscador .busqueda {
    display: flex;
}


.busqueda span {
    margin-left: 5px; /* Margen a la izquierda del texto "Buscar..." */
}

.icono-microfono {
    width: 30px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    margin-left: 10px; /* Margen a la izquierda de la imagen del micrófono */
}

